# Игнорировать временные файлы IDE
.idea/
*.iml

# Игнорировать папки с зависимостями
node_modules/
venv/

# Игнорировать компилированные файлы Python
*.pyc
*.log

# Игнорировать файлы конфигурации системы
.DS_Store

# Игнорировать временные и резервные файлы
*.bak
*.swp
*.tmp